/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.facebook-style-btn{
    border-radius: 2px; 
    font-size: 0.9rem;
    padding: 6px 12px; 
}

.facebook-style-dark{
    -moz-box-shadow :
}